name: Checkmarx One Scan

on:

  push:

    branches:

      - master

jobs:

  build:

    runs-on: ubuntu-latest

    steps:

      - name: Checkout

        uses: actions/checkout@v2

      - name: Checkmarx One CLI Action

        uses: checkmarx/ast-github-action@main #Github Action version

        with:

          project_name: ${{ github.repository }}

          cx_tenant: malloryCx1

          base_uri: https://ast.checkmarx.net/

          cx_client_id: ${{ secrets.CX_CLIENT_ID }}

          cx_client_secret: ${{ secrets.CX_CLIENT_SECRET }}

          # additional_params: --apikey ${{ secrets.CX_APIKEY_PROD }} --report-format sarif --output-path .

          additional_params: --report-format sarif --output-path .

      - name: Upload SARIF file

        uses: github/codeql-action/upload-sarif@v2

        with:

          # Path to SARIF file relative to the root of the repository

          sarif_file: cx_result.sarif
